{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>P4 Drawing</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>

    <style type="text/css">
    </style>

</head>
<body>
    <!-- You may change the dimensions of this canvas -->
    <canvas id="myCanvas" width="750px" height="750px"></canvas>
</body>
<script>

    // setting up the canvas and one paper tool
    var canvas = document.getElementById('myCanvas');
    paper.setup(canvas);
    var tool = new paper.Tool();

    // getting the URL (you may want to use for Exercise 3)
    var url = window.location.href;

    var socket = new WebSocket('ws://p4-kristini-ho-kristinho836388.codeanyapp.com:8765/');
  
    var myColor = 'red'; // placeholder color
    var clientID = 0; // placeholder client ID
    var inactive = true;
    var paths = {};
  
    let colorOptions = ['red', 'green', 'blue', 'black'];
   
    tool.onMouseMove = function(event) {
      if (inactive) {
         var msg = {
            type: "firstMove"
         };
        socket.send(JSON.stringify(msg));
        myColor = colorOptions[clientID];
        inactive = false;
      }
     
      var msg = {
          type: "point",
          x: event.point.x,
          y: event.point.y,
          color: myColor,
          id: clientID
      };

      socket.send(JSON.stringify(msg));      

    };

    socket.onopen = function (event) { 
      console.log("socket opened");
      // socket.send("Hello server, socket opened!");      
    }
  

    // received message from server
    socket.onmessage = function(receivedMessage){
      var msg = JSON.parse(receivedMessage.data);
      switch (msg.type) {    
          case "firstMove":
              if (inactive) {
                clientID += 1;                
              }         
              break;
           case "point":
              var myUrl = new URL(url); // construct URL to use search functions
              var size = myUrl.searchParams.get("size");
              if (size == "small" && clientID == msg.id || size == "large") { // only add path if small + own path, or large
                
                if (paths[msg.id]) { // seen this client already
                    // console.log("seen client", msg.id)
                    paths[msg.id].add(new paper.Point(msg.x, msg.y));                    
                } else { // new client
                    // console.log("new client", msg.id)
                    paths[msg.id] = new paper.Path();
                    paths[msg.id].strokeColor = msg.color;
                    paths[msg.id].strokewidth = 10;
                    paths[msg.id].add(new paper.Point(msg.x, msg.y));                   
                }
                
              }
      }    
    };

    // notify console if socket closes unexpectedl
    socket.onclose = function(e){
     console.error('chat socket closed unexpectedly');
    };
  
  
    window.ondeviceorientation = function(e) {
      if (e.gamma > 0) { // right tilt
          paths[clientID].strokeColor = 'orange';        
      } else {
          paths[clientID].strokeColor = myColor;
      }
      console.log("DEVICE ORIENTATION GAMMA");
      console.log(e.gamma);
    }
    
    window.ondevicemotion = function(e) {
      // clear canvas on shake
      if ((Math.abs(e.acceleration.x) + Math.abs(e.acceleration.y) + Math.abs(e.acceleration.z)) > 45) {
       
        for(var id in paths) {
            paths[id].removeSegments();
        }
 
      }
    }


</script>
</html>